@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vytejte v dotazniku!</h1>
    <p>Nepiseme neco co stejne nikdo nebude cist</p>
</div>
